/*////////////////////////////////  NAV BAR    /////////////////////////////////////////////*/



.absolute {
  position: absolute;
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

/* body, html {
	height: 100%;
} */

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

/* textarea:focus, input:focus {
  border-color: transparent !important;
} */



/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}





/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact100 {
  max-width: 960px;
  border-radius: 2px;
  margin-top: 200px;
  padding-left: 115px;
  padding-right: 115px;
  position: relative;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact100-form-title {
 
  display: block;
  width: 100%;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 32px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.input100 {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 2px;
  font-size: 20px;
  color: black;
  line-height: 1.2;
  padding: 0 28px;
}


/*---------------------------------------------*/
input.input100 {
  height: 62px;
}


textarea.input100 {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.input100:focus {
  background: #e6e6e6;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #df2351;
  top: 0;
  left: -100%;
}

.contact100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;

  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

/* .wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
} */


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 66px 80px 59px 80px;
  }
}

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 66px 15px 59px 15px;
  }
}

