/*============================================================================================
==============================        RESPONSIVENESS!!!     =============================
==============================================================================================*/

#sidebar {
  display: none;
}

@media screen and (max-width: 950){
  h1{
    padding-left: 20px;
    padding-right: 20px;
  }  
}

@media screen and (max-width: 992px) {
  section.sec1{
    height: 400px;
    background-position: 0 -30px;
  }

  h1{
    font-size: 50px;
  }

  h2{
    font-size: 30px;
  }

  .content p {
   width: 90%;
  }

  #contact-section-styles {
    height: 40vh;
  }

  .wrap-contact100 {
    margin-top: 10px;
  }

  #contact-section-styles {
   height: 40vh;
  }
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
   float: right;
   display: block;
 } 
 
  li {
   display: none;
 } 

  .topnav .icon {
   padding: 22px 20px;
   height: 80px;
 }

.dropDown{
  height: 30px;
  width: 30px;
}

#sidebar {
  display: flex;
}

#sidebar{
 position: absolute;
 width: 50vh;
 height: 100%;
 background: black;
 right: 1000px;
}

#sidebar.active {
 left: 0;
 z-index: 6;
 height: 150%;
}


.format {
  position: fixed;;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
}



.format a{
 margin-top: 60px;
 
}

.format a:hover {
  color: red;
}

#sidebar .format {
 font-size: 40px;
 padding: 20px 24px; 
}

#sidebar .toggle-btn {
 position: relative;
 top: 30px;
 left: 630px;
}

.toggle-btn span {
 width: 45px;
 height: 4px;
 background: #fff;
 display: block;
 margin-top: 4px;
}

}


/*=========================================================================
==========================================================================
=====================================================================*/


@media screen and (max-width: 800px) {
   section.sec1{
     height: 400px;
     background-position: 0 -30px;
   }

   h1{
     font-size: 50px;
   }

   h2{
     font-size: 30px;
   }

   .content p {
    width: 90%;
   }

   #contact-section-styles {
     height: 40vh;
   }

   .wrap-contact100 {
     margin-top: 10px;
   }

   #contact-section-styles {
    height: 40vh;
   }

   nav.black {
    padding: 10px 10px;
  }

}

/*=========================================================================
==========================================================================
=====================================================================*/

@media screen and (max-width: 700px) {
  h1 {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    font-size: 30px;
  }


}

/*=========================================================================
==========================================================================
=====================================================================*/

@media screen and (max-width: 636px) {
  section.sec1 {
    /* background: url(/css/images/Blue-orbs.JPG); */
    background: cover;
    width: 100%;
    height: 90vh;
    background-position: center;
  }

  .content{
    margin-top: 90px;
  }

}

/*=========================================================================
==========================================================================
=====================================================================*/


@media screen and (max-width: 500px) {
  .contact100-form-title { 
      font-size: 25px;
  }

  nav.black{
      padding: 10px 10px;
  }

  h2 {
    font-size: 25px;
  }

  input.input100 {
    font-size: 15px;
    height: 40px;
  }

  .input100{
    font-size: 15px;
  }

  textarea.input100{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .absolute {
    position: absolute;
  }

  
}




/*============================================================================================
==============================        DropDown NAV CSS       =============================
==============================================================================================*/

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.dropMenu{
  visibility: hidden;
}

/*=========================================================================
==========================================================================
=====================================================================*/


 @media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
 }

 /*=========================================================================
==========================================================================
=====================================================================*/

 @media screen and (max-width: 375px) {
   nav {
     padding: 20px;
   }
 }

 













