
/*============================================================================================
==============================        STICKY NAV BAR         =============================
==============================================================================================*/


body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  background: #100806;
  color: white;
  
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
}

nav.black {
  background: rgba(17, 0, 0, 0.8);
  height: 100px;
  padding: 10px 100px;
}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: .3s;
}

nav.black .logo {
  color: #fff;
}

nav ul {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav.black ul li a {
  color: #fff;
}

nav ul li a:focus {
    outline:none;
}

nav ul li a.active {
  background: #e2472f;
  color: #fff;
  border-radius: 6px;
}

a:hover{
  color:#100806;
}

section.sec1 {
  width: 100%;
  height: 100vh;
  background: url(/css/images/Black-Plane.JPG);
  background-size: cover;
  background-position: center;
}

#portfolio-section-styles{
  width: 100%;
  height: 100vh;
  background: url(/css/images/Blue-orbs.JPG);
  background-size: cover;
  background-position: center;
}

#contact-section-styles{
  width: 100%;
  height: 70vh;
  background: url(/css/images/Contrast.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  margin-top: 190px;
  height: 400px;
}

.content p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  line-height: 30px;
}


.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
}


header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

h1 {
  font-size: 100px;
  text-align: center;
  
}
/*============================================================================================
==============================        Contact CSS       =============================
==============================================================================================*/

.wrapper {
  position: relative;
  top: 20%;
  width: 100%;
}

.contact-form{
  max-width: 1080px;
  margin: 0 auto;
  ;
  display: flex;
  padding: 30px;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields, .msg{
  width: 48%;
}

.input-fields .input, .msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid white;
  padding: 10px;
  color: #c5ecfd;
  width: 90%;
}

.msg textarea{
  height: 186px;
}

.btn{
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;

  }
  .msg textarea{
    height: 80px;
  }
  .input-fields, msg{
    width: 100%;
  }
}

.contact-header {
  text-align: center;
}

/*============================================================================================
==============================        Portfolio CSS       =============================
==============================================================================================*/

img{
  border: white border 10px;

}


.container {
  padding: 1em;
  column-count: 4;
}

.container img{
  width: 100%;
  margin: 1em;
  cursor: pointer;
  transition: 0.5s;
}

.container img:hover{
  transform: scale(1.055);
}


@media(max-width: 800px){
  .container{
      column-count: 3;
  }
}

@media(max-width: 600px){
  .container{
      column-count: 2;
  }
}

@media(max-width: 400px){
  .container{
      column-count: 1;
  }
}



/*============================================================================================
==============================        Footer CSS       =============================
==============================================================================================*/


footer{
  height: 225px;
  background: #100806;
}

.instagram-symbol{
  
}



