
/*============================================================================================
==============================        STICKY NAV BAR         =============================
==============================================================================================*/


body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand'
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
}

nav.black {
  background: rgba(0,0,0,0.8);
  height: 100px;
  padding: 10px 100px;
}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: .3s;
}

nav.black .logo {
  color: #fff;
}

nav ul {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav.black ul li a {
  color: #fff;
}

nav ul li a:focus {
    outline:none;
}

nav ul li a.active {
  background: #e2472f;
  color: #fff;
  border-radius: 6px;
}

a:hover{
  color:white;
}

section.sec1 {
  width: 100%;
  height: 100vh;
  background: url(/css/images/Black-Plane.JPG);
  background-size: cover;
  background-position: center;
}

.content {
  margin-top: 80px;
}

.content p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  line-height: 30px;
}

/*============================================================================================
==============================        Section 2        =============================
==============================================================================================*/

.sec2{
  height:300px;
  background:gray;
}



.hello {
  opacity: 1 !important;
}

.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.full .contents {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}

.full .contents img {
  left: 50%;
  transform: translate(0, 0 , 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
}

.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}

.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .contents {
  padding: 4px;
}

.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery .gallery-item:hover {
  transform: scale(1.025);
}














